body{

     background-image: url(download.jpeg);
background-size: cover; /* Pastikan gambar menutupi seluruh area */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Cegah gambar berulang */
  background-attachment: fixed; /* Buat gambar tidak bergerak saat di-scroll */
  height: 225vh; /* Atur tinggi elemen menjadi 100% dari tinggi layar */
  width: 225vh;
}

/* menargetkan elemen "header utama"*/
#Karakter-Utama{
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
     
}

p{
    line-height: 1.5;
    /*SOROTAN*/
}
.paragraf-biasa{
    background-color: rgb(72, 98, 163);
    font-weight: bold;
    color: black;
    
}
/*judul bagian*/
.judul-bagian{
    color:teal;
    border-bottom: 1px solid teal;
     text-align: center;
}
/*link*/
a[:target="_blank"]{
    color:red;
    text-decoration:none;
}

.aku{
    background-color: white;

    background-position: 20px;

    border-top: 20px;
    border-color: black;
    text-align: center;
    font-size: large;
   padding: 10px;
    color: rgb(0, 0, 0);
}

.profile-box {
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
