body{

     background-image: url(download.jpeg);
background-size: cover; /* Pastikan gambar menutupi seluruh area */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Cegah gambar berulang */
  background-attachment: fixed; /* Buat gambar tidak bergerak saat di-scroll */
  height: 300vh; /* Atur tinggi elemen menjadi 100% dari tinggi layar */
  width: 300vh;
}

/* menargetkan elemen "header utama"*/
#Karakter-Utama{
    background-color: navy;
    color: white;
    padding: 20px;
    text-align: center;
}

p{
    line-height: 1.5;
    /*SOROTAN*/
}
.paragraf-biasa{
    background-color: rgb(72, 98, 163);
    font-weight: bold;
    color: black;
}
/*judul bagian*/
.judul-bagian{
    color:teal;
    border-bottom: 1px solid teal;
}
/*link*/
a[:target="_blank"]{
    color:red;
    text-decoration:none;
}
.aku{
    background-color: aqua;
     background-size: 10px;
    background-position: 10px;
    border-bottom: 10px;
    border-top: 10px;
    border-color: black;
    text-align: center;
    font-size: large;
   padding: 30px;
    color: rgb(0, 0, 0);
}


